body {
  text-align: center;
}

.black {
  color: black;
}

.white {
  color: white;
}

.background {
  background-color: black;
}

.aleg {
  font-family: "Alegreya SC", serif;
}

.diplo {
  font-family: Diplomata, serif;
}

.amatic {
  font-family: "Amatic SC", sans-serif;
}

.shadow {
  font-family: "Shadows Into Light", sans-serif;
}

/* @media only screen and (min-width: 25em) {


} */

@media only screen and (min-width: 38em) {

  .background {
    background-color: white;
  }

}

@media only screen and (min-width: 60em) {

  .background {
    background-color: white;
  }


}

@media only screen and (min-width: 90em) {

  .background {
    background-color: white;
  }


}
